name: "test docker"

on:
  pull_request:
  push:
  schedule:
    - cron: '15 5 * * *'

jobs:
  eval_cache:
    runs-on: ubuntu-latest
    concurrency: ${{ github.ref}}
    container:
      image: tomberek/nix-runner:pure-nix
      env:
        NIX_CONFIG: |
          experimental-features = nix-command flakes
          access-tokens = ${{ secrets.GITHUB_TOKEN }}
    steps:
       - name: something
         run: |
           git clone https://${{secrets.GITHUB_TOKEN}}@github.com/$GITHUB_REPOSITORY repo && cd repo
           ls -alh
           echo hello
           nix --version
